<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925163040940-nk30vlj3fig15ne2r2pq879mar7407fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925163040940-nk30vlj3fig15ne2r2pq879mar7407fo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>925163040940-o4jli5kvots63bbv2ubouurkhc0t21ta.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALKnSJGnewENJDuo4E46fHaQyz9rvsk-s</string>
	<key>GCM_SENDER_ID</key>
	<string>925163040940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.soanes.fatiguerecorder</string>
	<key>PROJECT_ID</key>
	<string>journalapps-c0e9e</string>
	<key>STORAGE_BUCKET</key>
	<string>journalapps-c0e9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925163040940:ios:cbb78afcc0df9c31172f09</string>
	<key>DATABASE_URL</key>
	<string>https://journalapps-c0e9e.firebaseio.com</string>
</dict>
</plist>